header,
.header-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 130px;
    background-color: #2a8a85;
    color: #fff;
    font-size: 70px;
}
header h1
{
    font-size: 5rem;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
}

.header-2 { 
    height: 30px;
    background-color: #e2dfdf;
    color: #2a8a85;
}

.crud-system,
.crud-table {background-color: #fff;}

.crud-system label {color: #19524f; font-size: 18px;}

.my-btn,
.table-head  {
    background-color: #2a8a85 !important;
    color: #fff !important;
}

.my-btn {
    border-radius: 20px !important;
    cursor: pointer;
}

.my-btn:hover {
    background-color: #fff !important;
    color: #2a8a85 !important;
    border: 1px solid #2a8a85 !important;
}

.form-group span,
#empty-input-alert {color: red;}
 



.text-green {color: #2a8a85;}

/* Media Query */
@media (max-width:992px)
{
    .crud-system,
    .crud-table {width: 100% !important;}

    header {height: 100px;}

    .crud-system label {font-size: 15px;}
}